* {
  margin: 0;
  padding: 0;
}

header {
  height: 100%;
}

.top-bar {
  height: 44px;
  background-color: #2d3e50;
  height: 44px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 17px;
}

div#title {
  background-color: white;
  color: #38b26c;
  font-weight: 800;
  padding: 1em;
  margin-left: 47px;
  font-size: 25px;
  font-stretch: condensed;
  width: 90px;
  text-align: center;
  font-family: "Roboto Condensed Bold", sans-serif;
}

@media only screen and (max-width: 954px)  {
    .logo,
    .carousel-nav {
        display: none;
    } .logo-button {
        position: absolute;
        left: calc(50% - 100px / 2);
        bottom: calc(50% - 600px / 2);
    }
}



.button {
  background-color: #28a85f;
  color: white;
  width: 95px;
  height: 42px;
  border: 0;
  padding: 0;
  font-size: 14px;
  border: 6px solid #2d3e50;
  border-radius: 8px;
  margin-right: -50px;
}


.carousel {
  background-image: url("../img/runningMan.png");
  width: 100vw;
  height: 420px;
  background-size: cover;
  position: relative;
  background-position: 25% 25%;
}

.carousel-nav {
  position: absolute;
  left: calc(50% - 100px / 2);
  bottom: 20px;
  width: 200px;
  height: 20px;
}

.carousel-button {
  border-radius: 50%;
  border: 0;
  height: 16px;
  width: 16px;
  background-color: #2d3e50;
  opacity: 0.4;
  cursor: pointer;
}

.carousel-button:first-child {
  border-radius: 50%;
  border: 0;
  height: 16px;
  width: 16px;
  background-color: #2d3e50;
  opacity: 0.9;
  cursor: pointer;
}

.carousel-right-button {
  position: absolute;
  right: 0;

  width: 18%;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
}

.carousel-left-button {
  position: absolute;
  left: 0;

  width: 18%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-right-button:hover,
.carousel-left-button:hover {
  background-color: #fff8;
  cursor: pointer;
}

.arrow-right {
  width: 20px;
  height: 20px;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  transform: rotate(45deg);
}

.arrow-left {
  width: 20px;
  height: 20px;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  transform: rotate(-135deg);
}

.logo-container {
  position: absolute;
  z-index: 999;
  text-align: center;
  top: 21%;
  left: 48.5%;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 55px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.logo span::after {
  content: "\a";
  white-space: pre;
}

.logo-button {
  background-color: #25a75c;
  color: white;
  width: 80px;
  height: 40px;
  border: 0;
  padding: 0;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 40px;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

#main-header {
  font-size: 35px;
  padding-bottom: 40px;
  font-family: Roboto, sans-serif;
}

main .about-you {
  width: 460px;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  font-size: 11pt;
  line-height: 20pt;
  margin-bottom: 140px;
}

.aside-img {
  margin-left: 50px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1130px) {
  .main-container {
      flex-direction: row;
      justify-content: center;
  }
}

.footerCover {
  background-image: url("../img/footerCoverSized.png");
  height: 565px;
  width: 100%;
  position: relative;
  background-size: cover;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 460px;
  height: 358px;
  margin: 10px auto 0;
  border-radius: 2px;
  position: absolute;
  right: calc(50% - 440px / 2);
  top: calc(50% - 230px);
}

.registration-header {
  font-family: Roboto, sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input[type="text"] {
  width: 280px;
  height: 40px;
  background-color: #f5f5f5;
  margin: 10px;
  padding: 4px;
  padding-left: 20px;
  font-size: 20px;
  border-right: transparent;
  border-left: transparent;
  border-top: 1px solid;
  border-bottom: transparent;
  border-color: #c4c4c4;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
}

.form input[type="email"] {
  width: 300px;
  background-color: #f5f5f5;
  color: #ffffff;
}

.forminput[type="password"] {
  width: 300px;
  background-color: #f5f5f5;
}

.country .select-style {
  width: 300px;
  height: 52px;
  background-color: #f5f5f5;
  margin: 10px;
  font-size: 15px;
  border-right: transparent;
  border-left: transparent;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 4px;
  overflow-y: auto !important;
}

select .select-style:hover {
    background-color: white;
}


.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  background-color: #28a85f;
  color: white;
  width: 93px;
  height: 37px;
  border: 0;
  padding: 0;
  font-size: 14px;
}

#footer-content {
  background-color: #2d3e50;
  color: white;
  height: 42px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}


