* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  height: 76vh;
}

.top-bar {
  background-color: #2d3e50;
  height: 43px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 17px;
}

div#title {
  background-color: white;
  color: #38b26c;
  padding: 1em;
  margin-left: 7.5%;
  font-size: 25px;
  width: 140px;
  text-align: center;
  font-family: "Roboto Bold", arial;
}

div .top-bar-items {
  display: inline;
  margin-left: 55px;
}

@media all and (max-width: 750px) {
  .top-bar {
    flex-direction: column;
    height: auto;
  }
  div#title {
    padding: 0.3em;
    margin: 0;
  }
  #enter-button {
    text-align: center;
    margin-right: 0;
  }
  div .top-bar-items {
    margin-left: 0;
    padding: 10px;
  }
}

@media all and (max-width: 910px) {
  .logo {
    font-size: 10px;
  }
  .carousel-nav {
    display: none;
  }
  .logo-button {
    position: absolute;
    left: calc(50% - 100px / 2);
    bottom: calc(50% - 600px / 2);
  }
}

.button {
  background-color: #28a85f;
  color: white;
  width: 102px;
  height: 45px;
  border: 0;
  padding: 0;
  font-size: 14px;
  border: 6px solid #2d3e50;
  border-radius: 8px;
  margin-right: 95px;
}


.carousel {
  background-image: url("../img/runningMan.png");
  width: 100%;
  height: 420px;
  background-size: cover;
  position: relative;
  background-position: 25% 25%;
}

.carousel-nav {
  position: absolute;
  left: calc(50% - 100px / 2);
  bottom: 20px;
  width: 200px;
  height: 20px;
}

.carousel-button {
  border-radius: 50%;
  border: 0;
  height: 16px;
  width: 16px;
  background-color: #2d3e50;
  opacity: 0.4;
  cursor: pointer;
}

.carousel-button:first-child {
  border-radius: 50%;
  border: 0;
  height: 16px;
  width: 16px;
  background-color: #2d3e50;
  opacity: 0.9;
  cursor: pointer;
}

.carousel-right-button {
  position: absolute;
  right: 0;

  width: 18%;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
}

.carousel-left-button {
  position: absolute;
  left: 0;

  width: 18%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-right-button:hover,
.carousel-left-button:hover {
  background-color: #fff8;
  cursor: pointer;
}

.arrow-right {
  width: 20px;
  height: 20px;
  border-right: 3px solid #2c3e50;
  border-top: 3px solid #2c3e50;
  transform: rotate(45deg);
}

.arrow-left {
  width: 20px;
  height: 20px;
  border-right: 3px solid #2c3e50;
  border-top: 3px solid #2c3e50;
  transform: rotate(-135deg);
}

.logo-container {
  position: absolute;
  z-index: 999;
  text-align: center;
  top: 21%;
  left: 48.5%;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 55px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.logo span::after {
  content: "\a";
  white-space: pre;
}

.logo-button {
  background-color: #25a75c;
  color: white;
  width: 80px;
  height: 40px;
  border: 0;
  padding: 0;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 40px;
}

@media all and (max-width: 919px) { 
  .logo {
    font-size: 45px;
  }
}

@media all and (max-width: 757px) { 
  .logo {
    display: none;
  }
}


@media all and (max-width: 919px) {
  .logo-button {
    left: 40%;
    top: 200px;
  }
}

main {
  height: auto;
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  justify-content: center;
}


main .about-you {
  width: 468px;
  font-family: Roboto, arial;
  font-size: 14px;
  font-weight: 900;
  line-height: 25px;
  margin-top: 22px;
  letter-spacing: 0.6px;
}

.your-photo {
  font-size: 12px;
  padding-bottom: 6px;
}

.aside-img {
  margin-left: 90px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

@media all and (max-width: 1034px) {
  main {
    height: auto;
  }
  .about-you {
   width: 900px;
   padding-top: 20px;
  }
   .aside-img {
   margin-left: 0;
   padding-top: 20px;
   }
  .main-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 20%;
  }
}

#main-header {
  font-size: 35px;
  letter-spacing: 0.6px;
  padding-bottom: 33px;
  font-weight: 700;
  font-family: Roboto, arial;
  color: black;
}

.footerCover {
  background-image: url("../img/footerCoverSized.png");
  height: 563px;
  width: 100%;
  position: relative;
  background-size: cover;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 460px;
  height: 355px;
  margin: 5px auto 0;
  border-radius: 2px;
  position: absolute;
  right: calc(50% - 229px);
  top: calc(50% - 208px);
}

.registration-header {
  padding-bottom: 35px;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.form input[type="text"] {
  width: 300px;
  height: 50px;
  background-color: #f5f5f5;
  margin: 5px;
  padding: 2px;
  padding-left: 20px;
  font-size: 20px;
  border-right: transparent;
  border-left: transparent;
  border-top: 1px solid;
  border-bottom: transparent;
  border-color: #c4c4c4;
  border-radius: 4px;
  font-family: Roboto, arial;
  color: black;
}

.form input[type="email"] {
  width: 300px;
  background-color: #f5f5f5;
}

.forminput[type="password"] {
  width: 300px;
  background-color: #f5f5f5;
}

input::placeholder {
  color: black;
  font-weight: 550;
}

.dropdown {
  position: relative;
}

.dropdown-option {
  padding: 5px;
  background: #fff;
  border-bottom: 1px solid silver;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 55px;
  left: 5px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px rgb(148, 146, 146) solid;
  border-radius: 3px;
}

.overflow-scroll {
  max-height: auto;
}

.dropdown-button {
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 50px;
  background-color: #f5f5f5;
  margin: 5px;
  border-right: transparent;
  border-left: transparent;
  border-top: 1px solid #c4c4c4;
  border-bottom: transparent;
  border-radius: 4px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 550;
  font-family: Roboto, sans-serif;
  text-align: left;
}
.dropdown-button::after {
  content: "\25BE";
  position: absolute;
  right: 10px;
  top: 15px;
}

.dropdown-option {
  width: 297px;
  height: 50px;
  padding-left: 15px;
  padding-top: 13px;
  font-size: 20px;
  font-weight: 550;
  font-family: Roboto, sans-serif;
}

.dropdown-menu::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d1cdcd;
  
}

.dropdown-menu::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 10px;
}

.submit-button-container {
  text-align: center;
}

.submit-button {
  background-color: #28a85f;
  color: white;
  width: 93px;
  height: 37px;
  border: 0;
  padding: 4px;
  font-size: 14px;
  border-radius: 5px;
}

@media all and (max-width: 550px) {
  .form {
    max-height: 400px;
    max-width: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: calc(50% - 420px / 2);
  }
  .registration-header {
    padding-top: -7px;
  }
  .form input[type="text"] {
    max-width: 300px;
  }
  .select-style {
    max-width: 300px;
  }
  .submit-button {
    padding-bottom: 5px;
  }
}

#footer-content {
  background-color: #2d3e50;
  color: white;
  height: 43px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
