* {
    margin: 0;
    padding: 0;
 }

 header {
    height: 46px;
    background-color:#2d3e50;
}

  .topBar {
    height: 30px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    color: white;
    }

div#title {
    background-color: white;
    color: #38b26c;
    font-weight: bold;
    padding: 1em;
    font-size: 18px;
}


.button {
    background-color: #28a85f;
    color: white;
    width: 93px;
    height: 37px;
    border:0;
    padding: 0;
    font-size: 14px;
    border-radius: 5px;
}

.carousel {
  background-image: url("/img/runningMan.png");
  width: 100%;
  height: 350px;
  background-size: cover;
  position: relative;
  background-position: 25% 25%;
}

.carousel-nav {
  position: absolute;
  left: calc(50% - 140px/2);
  bottom: 30px;
  width: 200px;
  height: 20px
}

.carousel-button {
  border-radius: 50%;
  border: 0;
  height: 12px;
  width: 12px;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}

.carousel-right-button {
  position: absolute;
  right: 0;

  width: 25%;
  height: 100%;
  
  display: flex;
  justify-content: start;
  align-items: center;
}

.carousel-left-button {
  position: absolute;
  left: 0;

  width: 25%;
  height: 100%;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-right-button:hover,
.carousel-left-button:hover {
  background-color: #fff8;
  cursor: pointer;
}

.arrow-right {
  width: 20px;
  height: 20px;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  transform: rotate(45deg);
}

.arrow-left {
  width: 20px;
  height: 20px;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  transform: rotate(-135deg);
}

body {
  margin: 0;
}



.main_container {
   display: grid;
}

main {
    margin-top: 30%;
}

main .aboutYou {
    width: 300px;
    padding: 20px;
    margin: 30px;
}

.aside_img {
    padding: 20px;
    margin: 30px;
}

.main_container {
    display: flex;
    justify-content: center;
}


.footerCover {
    background-image: url(../../img/footerCover.png);
    height: 50vw;
}


/* 
registration form */

 .form {
  display: flex;
  background: #fff;
  max-width: 400px;
  margin: 20px auto 0;
  border-radius: 2px;
}

h2 .registration-header {
    text-align: center;
    font-size:34px;
 }


 .form input[type="text"] { 
    width: 300px; 
    height: 44px;
    background-color: #f5f5f5;
    margin: 10px;
    font-size: 15px;
    }

.form input[type="email"] { 
    width: 300px;
    background-color: #f5f5f5;
    }

.forminput[type="password"] { 
    width: 300px;
    background-color: #f5f5f5;
    }


.country .select-style { 
    width: 300px;
    height: 44px;
    background-color: #f5f5f5;
    padding: 1px 2px;
    margin: 10px;
    border-width: 2px;
}

.copyright {
    height: 37px;
    background-color:#2d3e50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}